.search_bar {
  padding-inline: 8px;
  display: flex;
  margin-bottom: 20px;
  /* justify-content: center; */
}

.search_bar > div {
  display: flex;
  background-color: #dbdbdb;
  border-radius: 4px;
  width: 100%;
  max-width: 75%;
}

.search_bar > div > div {
  flex-grow: 1;
  border-radius: 3px;
  background-color: #fff;
  margin: 2px;
  display: flex;
  padding-inline: 4px;
}

.search_bar input {
  margin: 1px;
  padding-left: 8px;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  /* background-color: transparent; */
  height: 28px;
  flex-grow: 1;
}

.search_bar > div > button {
  align-self: center;
  cursor: pointer;
  border: none;
  background: transparent;
}

.search_bar > div > button:disabled {
  cursor: not-allowed;
}

.search_bar > button:last-of-type {
  border: none;
  background: transparent;
  cursor: pointer;
}

.search_bar > div > button > svg {
  padding-inline: 4px;
  margin-inline: 4px;
}

@media (max-width:600px) {
  .non_search img{
    width: 75%;
  }
  
}